.blogItemView{
    width: 570px;
    border-radius: 10px;
    border: 1px solid rgb(192,192,192);
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
.blogItemView:nth-child(odd) {
    margin-right: 20px;
}

.blog-item-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-item-author{
    height: 153px;
    padding: 27px 16px 46px;
    border-bottom: 1px solid rgb(192,192,192);
}
.blog-item-author-pic{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    float: left;
}

.blog-item-author-info{
    font-size: 18px;
    margin-left: 10px;          //13px  在FirFox中会出错 修改为 10
    float: left;
    text-align: left;
}

.blog-item-author-name{
    margin-top: 6px;
    color: #fe5313;
}

.blog-item-author-brief{
    margin-top: 10px;
    color: #3d3d3d;
}

.blog-item-statistics{
    width: 100%;
    height: 70px;
    position: relative;
    font-size: 24px;
}

.blog-item-statistics div{
    position: absolute;
    display: inline-block;
    height: 70px;
    line-height: 70px;
}

.blog-item-msg{
    .blog-item-msg-btn{
        width: 50px;
        background: url(../images/common/comment.png) center no-repeat;
        display: inherit;
    }
    .blog-item-msg-num{
        margin-left: 50px;
        color: #ff4200;
        display: inherit;
    }
    left: 127px;
}

.blog-item-love{
    left: 335px;
    .blog-item-love-btn{
        width: 50px;
        background: url(../images/common/praise.png) no-repeat center;
        display: inherit;
    }

    .onSelect{
        background: url(../images/common/praise_ck.png) no-repeat center !important;
    }

    .blog-item-love-num{
        margin-left: 50px;
        color: #ff4200;
        display: inherit;
    }
    color: #333;

}