.commentContainerBlog{
  width: 100%;
  padding: 15px 16px;
  background-color: #EEEEEE;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .commentLogin, .comment-textArea{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid silver;
    background-color: #ffffff;
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  .commentLogin{
    color: #808080;
  }

  .comment-textArea{
    outline: none;
    resize: none;
    color: #3d3d3d;
  }

  .comment-btns{
    margin-top: 17px;
    width: 100%;
    height: 50px;

    .btn-face{
      width: 150px;
      height: 40px;
      background: url("../images/common/face.png") no-repeat center;
      float: left;
    }

    .btn-commit{
      width: 150px;
      height: 50px;
      border-radius: 25px;
      font-size: 18px;
      float: right;
      line-height: 50px;
      text-align: center;
      background-color: #fd4200;
      color: #ffffff;
    }
  }

  .comment-list{
    .comment-list-item{
      width: 100%;
      //height: 88px;
      border-bottom: 1px solid silver;
      padding: 16.5px 16px;

      .comment-left-div{
        width: 55px;
        float: left;

        .comment-head-pic{
          width: 100%;
          height: 55px;
          border-radius: 100%;
          border: 1px solid silver;
        }

        .comment-floor-txt{
          font-size: 14px;
          height: 20px;
          color: #808080;
          margin-top: 15px;
          margin-bottom: 30px;
          display: none;
        }
      }

      .comment-right-div{
        width: calc(100% - 55px);
        padding-left: 17px;
        float: left;

        .comment-user-name{
          font-size: 18px;
          color: #fe5313;
          height: 24px;
          float: left;
        }

        .comment-time{
          font-size: 14px;
          color: #808080;
          line-height: 24px;
          height: 24px;
          margin-top: 40px;
          text-align: left;
        }

        .comment-reply{
          font-size: 18px;
          color: #fe5313;
          float: right;
        }

        .comment-content{
          width: 380px;
          font-size: 18px;
          color: #3d3d3d;
          text-align: left;
          float: left;
        }

        .comment-content span{
          font-size: 18px;
          color: #fe5313;
          height: 24px;
          padding-right: 10px;
        }
      }

    }

    .comment-list-item:first-child{
      margin-top: 0px;
    }

    .comment-list-item:last-child{
      border-bottom: 0px !important;
    }
  }

  .comment-view-more-btn{
    width: 98px;
    height: 30px;
    background: url("../images/common/more-v.png") no-repeat center;
    margin: 30px auto;
  }
}