.commentContainer{
  width: 880px;

  .commentLogin{
    margin-top: 25px;
    width: 100%;
    height: 170px;
    border-radius: 10px;
    border: 1px solid #fe5313;
    background-color: #fff3ef;
    font-size: 24px;
    color: #808080;
    line-height: 170px;
  }

  .comment-btns{
    margin-top: 17px;
    width: 100%;
    height: 50px;

    .btn-face{
      width: 150px;
      height: 40px;
      background: url("../images/common/face.png") no-repeat center;
      float: left;
    }

    .btn-commit{
      width: 150px;
      height: 50px;
      border-radius: 20px;
      font-size: 18px;
      float: right;
      line-height: 50px;
      text-align: center;
      background-color: #fd4200;
      color: #ffffff;
    }
  }

  .comment-list{
    margin-top: 50px;

    .comment-list-item{
      width: 100%;
      border-bottom: 1px solid #c0c0c0;

      .comment-left-div{
        width: 102px;
        float: left;

        .comment-head-pic{
          width: 100%;
          height: 102px;
          border-radius: 100%;
          border: 1px solid silver;
        }

        .comment-floor-txt{
          font-size: 14px;
          height: 20px;
          color: #808080;
          margin-top: 15px;
          margin-bottom: 30px;
        }
      }

      .comment-right-div{
        width: 778px;
        padding-left: 20px;
        float: left;


        .comment-user-name{
          font-size: 18px;
          color: #fe5313;
          height: 24px;
          float: left;
        }

        .comment-time{
          font-size: 14px;
          color: #808080;
          line-height: 30px;
          height: 24px;
          margin-left: 20px;
          float: left;
        }

        .comment-reply{
          font-size: 18px;
          color: #fe5313;
          float: right;
        }

        .comment-content{
          width: 100%;
          font-size: 18px;
          color: #3d3d3d;
          text-align: left;
          height: 132px;
          padding: 14px 10px 0px 0px;
        }
      }

    }
  }
}

