.loginBarContainer {
    position: relative;
    width: 1280px;
    margin-left: -40px;
}

.loginBar-div {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    border-bottom: 4px solid #feba02;
    z-index: 999;
}

.loginBar-div-1{
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.loginBar-Logo {
    width: 114px;
    height: 60px;
    background: url("../images/logo.png") center no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

.loginBar-Btns {
    position: absolute;
    right: 40px;
    top: 10px;
    display: block;

    div {
        width: 74px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
        line-height: 36px;
    }

    .loginBar-bnLogin {
        float: left;
        margin-right: 10px;
        color: #ff4200;
        border: 1px solid #ff4200;
        border-radius: 20px;
    }

    .loginBar-bnRegister {
        float: right;
        color: #c0c0c0;
        border: 1px solid #c0c0c0;
        border-radius: 20px;
    }
}

.loginBar-UserInfo {
    position: absolute;
    right: 40px;
    top: 10px;
    display: none;

    .loginBar-headPic {
        width: 42px;
        height: 42px;
        float: left;
        border-radius: 100%;
        margin-right: 10px;
    }

    .loginBar-username {
        font-size: 18px;
        color: #3d3d3d;
        line-height: 40px;
        margin-right: 20px;
        float: left;
    }

    .loginBar-bnPublish {
        width: 90px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
        line-height: 36px;
        color: #ffffff;
        background-color: #fd4200;
        float: right;
    }
}

#loginBar-user-operation-layer{
    position: relative;
    float: right;
    width: 182px;
    height: 140px;
    margin-top: -12px;
    padding-top: 17px;
    margin-right: 150px;
    display: none;
}
.loginBar-user-operation {
    border: 1px solid #c0c0c0;
    width: 182px;
    height: 106px;
    background: rgba(255, 255, 255, .9);
    border-radius: 10px;
    font-size: 18px;
    color: #808080;
}

.loginBar-setting-common {
    width: 153px;
    height: 53px;
    text-align: center;
    line-height: 52px;
    margin: 0 auto;
    border-bottom: 1px solid #c0c0c0;
}

.loginBar-setting-common:last-child {
    border-bottom: 0;
}