/*文件名称: planning_notice.css
*
* 创 建 人: fishYu
* 创建日期: 2016/7/2 14:02
* 描    述: 企划详情---公告详情
*/
#planning-notice-layer{
    position: fixed;
    top:0;
    left:0;
    z-index:999999;
    width:100%;
    height:100%;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}


.planning-notice-layer{
    width: 980px;
    height: 392px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    padding: 0 40px;
}

.planning-notice-layer-title{
    width: 100%;
    height: 118px;
    padding: 30px 0;
    text-align: center;
}

.planning-notice-layer-type{
    font-size: 24px;
}
.planning-notice-layer-author{
    margin-top: 17px;
}
.planning-notice-layer-author span:first-child{
    display: inline-block;
    color: #ff4600;
    margin-right: 28px;
}

.planning-notice-layer-author span:last-child{
    font-size: 14px;
}

.planning-notice-layer-content{
    width: 100%;
    height: 274px;
    border-top: 1px solid #c0c0c0;
    padding-top: 31px;
    text-align: left;
}