/*文件名称: planning.css
*
* 创 建 人: fishYu
* 创建日期: 2016/6/19 20:49
* 描    述: 企划详情页面样式
*/
/**
*导航样式
*/
#gili-love-planning{
    padding: 0 40px;
}
.planning-banner{
    width: 100%;
    height: 460px;
//    background: url('../images/planning/banner.jpg') center no-repeat;
}
/**
*企划内容
*/
.planning-content{
    margin: 30px 0 50px;
    padding: 0 20px;
    width: 100%;
}
/**
*企划内容-顶部
*/
.planning-content-top{
    width: 100%;
    height: 332px;
}
/**
*企划版主
*/
.planning-author{
    width: 260px;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}
.planning-cover{
    width: 260px;
    height: 260px;
    border-radius: 10px;
//    background: url(../images/planning/cover.jpg) no-repeat center;
}
.planning-moderator{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: -8px;
    float: left;
    margin-right: 15px;
}
.planning-moderator-nick{
    display: inline-block;
    margin-top: 5px;
    color: #333333;
    float: left;
    font-size: 24px;
}

.planning-moderator-hint{
    color: #fe5313;
    font-size: 14px;
    margin-top: 8px;
    display: inline-block;
    width:60px;
    height: 30px;
    line-height: 28px;
//    float: left;
    position: absolute;
    left: 95px;
    bottom: 0;
    border-radius: 14.5px;
    border: 1px solid rgba(254,83,19,.9);
}

/**
*企划详情
*/
.planning-detail{
    height: 100%;
    width: -webkit-calc(100% - 520px);
    width: -moz-calc(100% - 520px);
    width: -ms-calc(100% - 520px);
    width: -o-calc(100% - 520px);
    width: calc(100% - 520px);
    display: inline-block;
    padding: 0 25px;
    float: left;
    text-align: left;
    position: relative;
}
.detail-title{
    color: #fe5313;
    font-size: 30px;
    font-weight: bold;
}
.detail-content{
    color: #333333;
    font-size: 18px;
    line-height: 26px;
    margin-top: 27px;
}
.detail-operation-btn{
    position: absolute;
    bottom: 0;
    left: 100px;
    height: 70px;
}
.planning-operation-btn{
    width: 150px;
    height: 70px;
    display: inline-block;
    line-height: 68px;
    color:rgb(255,255,255);
    border-radius: 14.5px;
    font-size: 24px;
    text-shadow: 0px 0px 1px rgba(254,83,19,.6);
    background-image: url(../images/common/btn-red.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 100px;
    text-align: center;
    font-weight: bold;
}
//.planning-operation-btn:first-child{
//    background-image: url(../images/common/btn-gray.png) !important;
//}
.planning-operation-btn:last-child{
    background-image: url(../images/common/btn-yellow.png);
    margin-right: 0;
}
/**
*企划通告
*/
.planning-notice{
    width: 260px;
    height: 100%;
    display: inline-block;
    float: right;
    text-align: left;
    color: #333333;
}
.notice-title{
    font-size: 24px;
    font-weight: bold;
}
.notice-content{
    font-size: 18px;
    line-height: 33px;
    margin-top: 33px;
}
.notice-content span{
    display: inline-block;
    margin-right: 10px;
}

/**
*企划内容-底部
*/
.planning-content-bottom{
    margin-top: 55px;
    width: 100%;
}

.planning-type{
    width: 100%;
    height: 150px;
}
.planning-type-item{
    width: 23.7%;
    height: 100%;
    display: inline-block;
//    float: left;
    margin-right: 1.733%;
    position: relative;
}
.planning-type-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #c3f6ff;
}
.planning-type-item:last-child{
    margin-right: 0;
}
.planning-type-item-selected{
    border: 4px solid #fe5313  !important;
    border-radius: 14px !important;
}
.planning-type-item span{
    display: inline-block;
    color: rgba(255,255,255,.9);
    position: absolute;
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(254,83,19,.6);
}
.planning-type-detail{
    margin-top: 20px;
    width: 100%;
//    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: #ffefe9;
    color: #333333;
    border: 1px solid rgba(128,128,128,.3);
    padding: 20px 50px;
}
.type-detail-title{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.type-detail-content{
    font-size: 18px;
    line-height: 29px;
}
/**
*企划参与角色
*/
.planning-join-role{
    width: 100%;
    height: 275px;
    margin-bottom: 50px;
    padding: 0 20px;
    font-size: 24px;
 }
.planning-common-title{
    width: 100%;
    line-height: 30px;
    height: 30px;
}
.common-hint{
    float: left;
    color: #3d3d3d;
    text-align: left;
    font-weight: bold;
}
.common-more{
    width: 120px;
    height: 30px;
    float: right;
    background: url(../images/common/more-h.png) no-repeat center;
}
#more-role{
    display: none;
}

#more-opus{
    display: none;
}
.role-content{
    width: 100%;
    height: 210px;
    margin-top: 35px;
}
.join-role-item{
    width: 175px;
    height: 175px;
    border-radius: 100%;
    float: left;
    margin-right: 22px;
}
.join-role-item img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.join-role-item:last-child{
    margin-right: 0;
}
.common-name-hint{
    margin-top: 10px;
    color:#fe5313;
}
.join-role-item-selected{
    border: 4px solid #fe5313 ;
}

/**
*企划最热作品
*/
.planning-hottest-opus{
    width: 100%;
    height: 315px;
    margin-bottom: 50px;
    padding: 0 20px;
    color: #333333;
    font-size: 24px;
}
.hottest-opus-content{
    width: 100%;
    height: 260px;
    margin-top: 25px;
}
.hottest-opus-item{
    width: 175px;
    height: 229px;
    border-radius: 10px;
    float: left;
    margin-right: 22px;
}
.hottest-opus-item:last-child{
    margin-right: 0;
}
.hottest-opus-item img{
    width: 175px;
    height: 229px;
    border-radius: 10px;
}
.hottest-opus-item-selected{
    border: 4px solid #fe5313  !important;
    border-radius: 14px !important;
}
.opus-hint-selected{
    color: #fe5313  !important;
}

.common-opus-hint{
    font-size: 18px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/**
*企划动态
*/
.planning-dynamic{
    width: 100%;
    font-size: 24px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    overflow:hidden;
}

.dynamic-content{
    width: 100%;
    min-height: 400px;
    margin-top: 27px;
}

#planning-sk-out{
    margin-top: 10px;
    font-size: 14px;
}
.planning-footer-container{
    width: 100%;
    height: 470px;
}
@import "planning_notice.scss";
@import "planning_roles.scss";

