/*文件名称: planning.css
*
* 创 建 人: fishYu
* 创建日期: 2016/6/19 20:49
* 描    述: 企划详情页面样式
*/

/**
*导航样式
*/
.planning-banner{
    width: 100%;
    height: 460px;
    background: url('../images/planning/banner.jpg') center no-repeat;
}
/**
*企划内容
*/
.planning-content{
    margin: 30px 0 50px;
    padding: 0 20px;
    width: 100%;
    height: 807px;
}
/**
*企划内容-顶部
*/
.planning-content-top{
    width: 100%;
    height: 332px;
}
.planning-author{
    width: 260px;
    height: 100%;
    display: inline-block;
    float: left;
}
.planning-cover{
    width: 260px;
    height: 260px;
    border-radius: 10px;
    background: url(../images/planning/cover.jpg) no-repeat center;
}
.planning-moderator{
    width: 88px;
    height: 88px;
    border-radius: 100%;
    margin-top: -16px;
    float: left;
    margin-right: 7px;
}
.planning-moderator-nick{
    display: inline-block;
    margin-top: 13px;
    color: #333333;
    float: left;
    font-family: FZLanTingHei-L-GBK;
    font-size: 24px;
}

.planning-moderator-hint{
    color: #fe5313;
    font-family: FZLanTingHei-L-GBK;
    font-size: 14px;
    margin-top: 8px;
    display: inline-block;
    width:60px;
    height: 30px;
    line-height: 28px;
    float: left;
    border-radius: 14.5px;
    border: 1px solid rgba(254,83,19,.9);
}


.planning-detail{
    background: hotpink;
    height: 100%;
    width: -webkit-calc(100% - 520px);
    width: -moz-calc(100% - 520px);
    width: -ms-calc(100% - 520px);
    width: -o-calc(100% - 520px);
    width: calc(100% - 520px);
    display: inline-block;
    padding: 0 25px;
    float: left;
}
.planning-notice{
    width: 260px;
    background: pink;
    height: 100%;
    display: inline-block;
    float: right;
}
/**
*企划内容-底部
*/
.planning-content-bottom{
    margin-top: 55px;
    width: 100%;
}

.planning-type{
    width: 100%;
    height: 150px;
}
.planning-type-item{
    width: 23.7%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-right: 1.733%;
    position: relative;
}
.planning-type-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #c3f6ff;
}
.planning-type-item:last-child{
    margin-right: 0;
}
.planning-type-item-selected{
    border: 4px solid #fe5313  !important;
    border-radius: 14px !important;
}
.planning-type-item span{
    display: inline-block;
    color: rgba(255,255,255,.9);
    position: absolute;
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(254,83,19,.6);
}
.planning-type-detail{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: #ffefe9;
    border: 1px solid rgba(128,128,128,.3);
}
/**
*企划参与角色
*/
.planning-join-role{
    width: 100%;
    height: 300px;
    background: rgb(240, 10, 0);
    margin-bottom: 20px;
 }

/**
*企划热门作品
*/
.planning-hot-opus{
    width: 100%;
    height: 300px;
    background: rgb(0, 10, 255);
    margin-bottom: 20px;
}
/**
*企划动态
*/
.planning-dynamic{
    width: 100%;
    background: rgb(0, 10, 0);
}