<div class="activity-vote-loginBar-reg"></div>
<div class="activity-vote-work-div">
    <div class="activity-vote-work-info">
        <div class="activity-vote-work-head"></div>
        <div class="activity-vote-work-right-div">
            <div class="activity-vote-work-brief"></div>
            <div class="activity-vote-work-bottom-div">
                <div class="activity-vote-work-data"></div>
                <div class="activity-vote-work-vote"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="activity-vote-work-line clear"></div>
    <img class="activity-vote-work-pic" />
</div>
<div class="activity-vote-btns-div">
    <div class="activity-vote-btn-vote button">投票</div>
    <div class="activity-vote-btn-shares">
        <div class="activity-vote-btn-line"></div>
        <div class="activity-vote-btn-qq button"></div>
        <div class="activity-vote-btn-wb button"></div>
        <div class="activity-vote-btn-line"></div>
    </div>
    <div class="activity-vote-btn-info">快转发好友来应援你的作品吧</div>
</div>
<div class="activity-vote-footer-reg"></div>