<div class="container">
    <div class="activity-head-reg"></div>
    <div class="activity-bg">
        <div class="btnJoin button"></div>
    </div>

    <div class="activity-blog-title activity-work-title title">参赛作品</div>
    <div class="activity-blog-reg"></div>
    <div class="clear"></div>
    <div class="activity-blog-title activity-comment-title title">小伙伴评论区</div>
    <div class="activity-comment-reg"></div>

    <div class="activity-foot-line"></div>
    <div class="activity-footer-reg"></div>
    <div class="activity-go-btns">
        <div data-type="activity" class="activity-go-activity button"></div>
        <div data-type="work" class="activity-go-work button"></div>
        <div data-type="comment" class="activity-go-comment button"></div>
        <div data-type="top" class="activity-go-top button"></div>
    </div>
</div>