<div id="userCenterHeader">
    <div class="uc_headerImg" style='background: url("<%=userHeaderImg %>") no-repeat; background-size: cover;'></div>
    <p class="uc_nick"><%=userNick %></p>
    <p class="uc_desc"><%=userBrief %></p>
    <div class="uc_btn <%=attEdClass %>" <%=otherShow %>><%=btnText %></div>
</div>
<div id="userCenterNav">
    <ul>
        <li data-liIndex="0" class="<%=firstLiShow %>">动态</li>
        <li data-liIndex="1" class="<%=secondLiShow %>"><span><%=fansNum %></span>&nbsp;粉丝</li>
        <li data-liIndex="2" class="<%=thirdLiShow %>"><span><%=attentionNum %></span>&nbsp;关注</li>
    </ul>
</div>