<div id="userCenterHeader">
    <div class="uc_headerImg" style='background: url("images/temp/head/user_center_icon01.png") no-repeat; background-size: cover;'></div>
    <p class="uc_nick">白白的屁股</p>
    <p class="uc_desc">简介简介这里是简介，啊啊啊</p>
    <div class="uc_btn">关注</div>
</div>
<div id="userCenterNav">
    <ul>
        <li class="<%=firstLiShow %>">动态</li>
        <li class="<%=secondLiShow %>"><span>187</span>&nbsp;粉丝</li>
        <li class="<%=thirdLiShow %>"><span>2187</span>&nbsp;关注</li>
    </ul>
</div>