<div id="userCenterLogin"></div>
<div id="userCenterHeader">
    <div class="uc_headerImg" style='background: url("images/temp/head/user_center_icon01.png") no-repeat; background-size: cover;'></div>
    <p class="uc_nick">白白的屁股</p>
    <p class="uc_desc">简介简介这里是简介，啊啊啊</p>
    <div class="uc_btn">关注</div>
</div>
<div id="userCenterNav">
    <ul>
        <li><span>87</span>&nbsp;动态</li>
        <li class="li_ck"><span>187</span>&nbsp;粉丝</li>
        <li><span>2187</span>&nbsp;关注</li>
    </ul>
</div>
<div id="userCenterFansInfo">
    <div class="fans-item">
        <div class="fans-item-head">
            <img src="images/temp/info_pic/head1.png" class="fans-item-head-img"/>
            <div class="btnAttention">关注</div>
        </div>
        <div class="fans-item-data">
            <p class="nick_p">道道好厉害</p>
            <p class="address_p">地址：火星</p>
            <p class="desc_p">这里是简介这里是简介这里还是简介，呵呵</p>
            <p class="data_p">关注&nbsp;2563&nbsp;&nbsp;|&nbsp;&nbsp;粉丝&nbsp;4343</p>
        </div>
    </div>
    <div class="fans-item fans-item-2">
        <div class="fans-item-head">
            <img src="images/temp/info_pic/head1.png" class="fans-item-head-img"/>
            <div class="btnAttention">关注</div>
        </div>
        <div class="fans-item-data">
            <p class="nick_p">道道好厉害</p>
            <p class="address_p">地址：火星</p>
            <p class="desc_p">这里是简介这里是简介这里还是简介，呵呵</p>
            <p class="data_p">关注&nbsp;2563&nbsp;&nbsp;|&nbsp;&nbsp;粉丝&nbsp;4343</p>
        </div>
    </div>
    <div class="fans-item">
        <div class="fans-item-head">
            <img src="images/temp/info_pic/head1.png" class="fans-item-head-img"/>
            <div class="btnAttention">关注</div>
        </div>
        <div class="fans-item-data">
            <p class="nick_p">道道好厉害</p>
            <p class="address_p">地址：火星</p>
            <p class="desc_p">这里是简介这里是简介这里还是简介，呵呵</p>
            <p class="data_p">关注&nbsp;2563&nbsp;&nbsp;|&nbsp;&nbsp;粉丝&nbsp;4343</p>
        </div>
    </div>
    <div class="fans-item fans-item-2">
        <div class="fans-item-head">
            <img src="images/temp/info_pic/head1.png" class="fans-item-head-img"/>
            <div class="btnAttention">关注</div>
        </div>
        <div class="fans-item-data">
            <p class="nick_p">道道好厉害</p>
            <p class="address_p">地址：火星</p>
            <p class="desc_p">这里是简介这里是简介这里还是简介，呵呵</p>
            <p class="data_p">关注&nbsp;2563&nbsp;&nbsp;|&nbsp;&nbsp;粉丝&nbsp;4343</p>
        </div>
    </div>
    <div class="fans-item">
        <div class="fans-item-head">
            <img src="images/temp/info_pic/head1.png" class="fans-item-head-img"/>
            <div class="btnAttention">关注</div>
        </div>
        <div class="fans-item-data">
            <p class="nick_p">道道好厉害</p>
            <p class="address_p">地址：火星</p>
            <p class="desc_p">这里是简介这里是简介这里还是简介，呵呵</p>
            <p class="data_p">关注&nbsp;2563&nbsp;&nbsp;|&nbsp;&nbsp;粉丝&nbsp;4343</p>
        </div>
    </div>
    <div class="fans-item fans-item-2">
        <div class="fans-item-head">
            <img src="images/temp/info_pic/head1.png" class="fans-item-head-img"/>
            <div class="btnAttention">关注</div>
        </div>
        <div class="fans-item-data">
            <p class="nick_p">道道好厉害</p>
            <p class="address_p">地址：火星</p>
            <p class="desc_p">这里是简介这里是简介这里还是简介，呵呵</p>
            <p class="data_p">关注&nbsp;2563&nbsp;&nbsp;|&nbsp;&nbsp;粉丝&nbsp;4343</p>
        </div>
    </div>
</div>