<div class="uc_info_item uc_info_item1">
    <%=articleHtml %>
    <%=picHtml %>
    <%=descHtml %>
    <div class="info-detail">
        <div class="info-detail-comment"><div  class="commit-img"></div><%=commentInt %></div>
        <div class="info-detail-zan"><img src="images/common/<%=zanName %>.png"  data-zan="<%=zanName %>" class="info-detail-img"/><%=likeInt %></div>
        <div class="info-detail-date"><span class="info-del" style=" <%=delShow %>">删除&nbsp;</span><%=timeStr%></div>
    </div>
    <div class="info-detail-list" <%=commentShow %>>
        <textarea name="commentTxt" id="commentTxt" cols="30" rows="10"><%=commentTxt %></textarea>
        <div class="btnList">
            <div class="btnFace"></div>
            <div class="faceCon"><%=faceTxtHtml %></div>
            <div class="btnSend">发布</div>
        </div>
        <%=commentHtml %>
        <div class="commentMore"></div>
    </div>
</div>
<!--<div class="uc_info_item uc_info_item2">-->
    <!--<div class="uc-info-pic"></div>-->
    <!--<div class="info-detail">-->
        <!--<div class="info-detail-comment"><img src="images/common/comment2.png" alt="" class="info-detail-img"/>54513</div>-->
        <!--<div class="info-detail-zan"><img src="images/common/praise.png" alt="" class="info-detail-img"/>6548</div>-->
        <!--<div class="info-detail-date">2016.6.26 4:13</div>-->
    <!--</div>-->
    <!--<div class="info-detail-list">-->

    <!--</div>-->
<!--</div>-->
<!--<div class="uc_info_item uc_info_item3">-->
    <!--<img class="uc-info-pic3" src="images/temp/info_pic/icon02.png" alt=""/>-->
    <!--<div class="info-detail">-->
        <!--<div class="info-detail-comment"><img src="images/common/comment2.png" alt="" class="info-detail-img"/>54513</div>-->
        <!--<div class="info-detail-zan"><img src="images/common/praise.png" alt="" class="info-detail-img"/>6548</div>-->
        <!--<div class="info-detail-date">2016.6.26 4:13</div>-->
    <!--</div>-->
    <!--<div class="info-detail-list">-->

    <!--</div>-->
<!--</div>-->