<div class="uc_info_item uc_info_item1">
    星星和鲸鱼和爱情（1）<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩然还是决定先放点出来玩玩<br>
    憋是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决果然还是决果然还是决果然还是决果然还是决果然还是决果然还是决果然还是决果然还是决果然还是决果然还是决果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩还是决定先放点出来玩玩<br>
    憋了好久的文，然而没有写完就是了，我果然还是决定先放点出来玩玩<br>
    <div class="info-detail">
        <div class="info-detail-comment"><img src="images/common/comment2.png" alt="" class="info-detail-img"/>54513</div>
        <div class="info-detail-zan"><img src="images/common/collection.png" alt="" class="info-detail-img"/>6548</div>
        <div class="info-detail-date"><%=name %></div>
    </div>
    <div class="info-detail-list">

    </div>
</div>
<div class="uc_info_item uc_info_item2">
    <div class="uc-info-pic"></div>
    <div class="info-detail">
        <div class="info-detail-comment"><img src="images/common/comment2.png" alt="" class="info-detail-img"/>54513</div>
        <div class="info-detail-zan"><img src="images/common/collection.png" alt="" class="info-detail-img"/>6548</div>
        <div class="info-detail-date">2016.6.26 4:13</div>
    </div>
    <div class="info-detail-list">

    </div>
</div>
<div class="uc_info_item uc_info_item3">
    <img class="uc-info-pic3" src="images/temp/info_pic/icon02.png" alt=""/>
    <div class="info-detail">
        <div class="info-detail-comment"><img src="images/common/comment2.png" alt="" class="info-detail-img"/>54513</div>
        <div class="info-detail-zan"><img src="images/common/collection.png" alt="" class="info-detail-img"/>6548</div>
        <div class="info-detail-date">2016.6.26 4:13</div>
    </div>
    <div class="info-detail-list">

    </div>
</div>