<div id="associationsLogin"></div>
<div id="associations_header">
    <div id="header_data">
        <img id="header_img" src="images/temp/asso/icon01.JPG" alt=""/>
        <div id="header_p"><span class="sp_name"><%name %></span><span class="sp_authorName">创建者：道道</span></div>
        <div class="header_desc">这里是简介，这里是简介，这里是常常想不出的简介，这里是简介，这里是简介 ，这里是常常想不出的简介~这里是简介，这里是简介 ，这里是常常想不出的简介~</div>
        <div class="header_main">
            <div class="numS">
                <div class="num num1"><span>233</span>投稿数</div>
                <div class="num num2"><span>155</span>社团人数</div>
                <div class="num num3"><span>1.23万</span>本子数</div>
                <div class="num num4"><span>2132万</span>关注人数</div>
            </div>
            <div class="btnS">
                <div id="btnAdd">加入社团</div>
                <div id="btnAttention">关注社团</div>
            </div>
        </div>
    </div>
</div>
<div id="associations_main">
    <div id="main_left" class="workList"></div>
    <div id="main_right">
        <div id="associateMember">
            <p>社团成员</p>
            <img src="images/temp/head/head_s1.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s2.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s3.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s4.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s10.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s11.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s12.png" class="memberImgItem"/>
        </div>
        <div id="associateAttention">
            <p>关注用户</p>
            <img src="images/temp/head/head_s1.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s2.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s3.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s4.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s5.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s6.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s7.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s8.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s9.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s10.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s11.png" class="memberImgItem"/>
            <img src="images/temp/head/head_s12.png" class="memberImgItem"/>
        </div>
    </div>
</div>