<div class="login-container-mask x-center" id="planning-roles-mask" ></div>
<div class="planning-notice-layer" id="roles-layer">
    <div class="planning-notice-layer-title" id="planning-roles-layer-title">参与角色</div>
    <div class="planning-notice-layer-content" id="planning-roles-layer-content">
        <div class="planning-roles-wrapper">
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
        </div>
        <div class="roles-operation-buttons">
            <div class="roles-first-page" data-num="1">首页</div>
            <div class="roles-page-number">
                <span class="roles-page-number-selected" data-num="1">1</span>
                <span data-num="2">2</span>
                <span data-num="3">3</span>
                <span data-num="4">4</span>
                <span data-num="5">5</span>
                <span data-num="6">6</span>
                <span data-num="7">7</span>
                <span data-num="8">8</span>
                <span data-num="9">9</span>
                <span data-num="10">10</span>
            </div>
            <div class="roles-last-page" data-num="5">尾页</div>
            <div class="roles-all-pages">共10页</div>
            <div class="roles-page-number-input">
                <span>第</span>
                <input type="number" id="page-number-txt"/>
                <span>页</span>
            </div>
            <div class="roles-go-to-page roles-page-number-selected">GO</div>
        </div>
    </div>
</div>
