<!--登录的导航-->
<nav id="login-nav" class="x-center">
    <a class="logo xy-center" href="/">
        <img alt="logo" src="./images/logo.png">
    </a>
    <ul class="login-and-register y-center">
        <li><div id="login" >登录</div></li>
        <li><div id="register" >注册</div></li>
    </ul>
</nav>
<!--banner-->
<div class="planning-banner" id="planning-banner"></div>
<!--企划详情-->
<div class="planning-content">
    <div class="planning-content-top" >
        <div class="planning-author">头像</div>
        <div class="planning-notice">公告</div>
        <div class="planning-detail">简介</div>
    </div>
    <div class="planning-content-bottom" >
        <div class="planning-type">
            <div class="planning-type-item">
                <div>类型一</div>
                <div class="planning-type-selected">简介</div>
            </div>
            <div class="planning-type-item">
                <div>类型二</div>
                <div class="planning-type-selected">简介</div>
            </div>
            <div class="planning-type-item">
                <div>类型三</div>
                <div class="planning-type-selected">简介</div>
            </div>
            <div class="planning-type-item">
                <div>类型四</div>
                <div class="planning-type-selected">简介</div>
            </div>
        </div>
        <div class="planning-type-detail">
            <div class="type-detail show">
                游戏中的虚构男性或女性（由于是以平面2D为主，
                称之为二次元人物，游戏虽然有很多是3D的，
                但是在传统观点上仍称之为二次元）才有兴趣，
                而对于现实生活中的男性或女性则没有兴趣。
                并反应为一种消极的精神状态。情节严重者，
                会有自虐，自杀倾向。
            </div>
            <div class="type-detail">
                个性特点等，通常需要绘制一人物的头部及、正、背、侧等多个不同角度的三面效果，<br />
                有时还会包括线条封闭和人物发型，<br />
                身着不同款式的服装造型，与其他角色的身高对比，<br />
                以及佩戴的小饰物等细节。如果动画的原作来自漫画，<br />
                则需要将漫画家笔下的人物重新绘制，以符合动画的要求。
            </div>
            <div class="type-detail">
                二次元：ACG领域所在的平面世界，<br />
                包括动画（Animation）、漫画（Comic）、<br />
                游戏（Game）等一系列平面的视界产物，<br />
                与之相对的三次元则是指现实世界。
            </div>
            <div class="type-detail">
                1.ACG：英文Animation、Comic、Game的缩写，<br />
                是动画、漫画、游戏（通常指电玩游戏或GalGame）的总称。<br />
                2.御宅族（おたく otaku）：一般指对ACG具有超出一般人知识面、<br />
                鉴赏、游玩能力的特殊群体，是究级ACG爱好者的代名词。
            </div>
        </div>
    </div>
</div>
<!--join role-->
<div class="planning-join-role" >参与角色</div>
<!--hot opus -->
<div class="planning-hot-opus">热门作品</div>
<!--planning dynamic-->
<div class="planning-dynamic">企划动态</div>
