<div class="login-container-mask x-center" id="planning-roles-mask" ></div>
<div class="planning-notice-layer" id="roles-layer">
    <div class="planning-notice-layer-title" id="planning-roles-layer-title">参与角色</div>
    <div class="planning-notice-layer-content" id="planning-roles-layer-content">
        <div class="planning-roles-wrapper"></div>
        <div class="roles-operation-buttons">
            <div class="roles-first-page button" data-num="1">首页</div>
            <div class="roles-page-number cancelScrollBar">
                <div class="roles-span-wrapper"></div>
            </div>
            <div class="roles-last-page button" data-num="1">尾页</div>
            <div class="roles-all-pages">共1页</div>
            <div class="roles-page-number-input">
                <span>第</span>
                <input type="number" id="page-number-txt"/>
                <span>页</span>
            </div>
            <div class="roles-go-to-page roles-page-number-selected button">GO</div>
        </div>
    </div>
</div>
