<div class="login-container-mask x-center" id="planning-roles-mask" ></div>
<div class="planning-notice-layer" id="roles-layer">
    <div class="planning-notice-layer-title" id="planning-roles-layer-title">参与角色</div>
    <div class="planning-notice-layer-content" id="planning-roles-layer-content">
        <div class="planning-roles-wrapper">
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
            <div class="role-layer-item" role-id="577911687db2a2005533c47e">
                <img src="http://www.gilieye.com/common-user.jpg" role-id="577911687db2a2005533c47e" class="button">
                <span class="role-layer-name-hint" role-id="577911687db2a2005533c47e">fishYu</span>
            </div>
        </div>
        <div class="roles-operation-buttons">
            <div class="roles-first-page">首页</div>
            <div class="roles-page-number">
                <span class="roles-page-number-selected">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
            </div>
            <div class="roles-last-page">尾页</div>
            <div class="roles-all-pages">共10页</div>
            <div class="roles-page-number-input">
                <span>第</span>
                <input type="text" id="page-number-txt"/>
                <span>页</span>
            </div>
            <div class="roles-go-to-page roles-page-number-selected">GO</div>
        </div>
    </div>
</div>
