<!--登录的导航-->
<div id="login-nav"></div>
<!--banner-->
<div class="planning-banner" id="planning-banner"></div>
<!--企划详情-->
<div class="planning-content">
    <div class="planning-content-top" >
        <div class="planning-author"></div>
        <div class="planning-notice">
            <div class="notice-title">企划公告</div>
            <ul class="notice-content"></ul>
        </div>
        <div class="planning-detail">
            <div class="detail-title"></div>
            <div class="detail-content"></div>
            <div class="detail-operation-btn">
                <div class="planning-operation-btn button" id="join-planning">报名企划</div>
                <div class="planning-operation-btn button" id="subscribe-planning">订阅企划</div>
            </div>
        </div>
    </div>
    <div class="planning-content-bottom" >
        <div class="planning-type"></div>
        <div class="planning-type-detail">
            <div class="type-detail-title"></div>
            <div class="type-detail-content"></div>
        </div>
    </div>
</div>
<!--join role-->
<div class="planning-join-role" >
    <div class="planning-common-title">
        <span class="common-hint">参与角色</span>
        <div class="common-more button" id="more-role"></div>
    </div>
    <div class="role-content"></div>
</div>
<!--hottest opus -->
<div class="planning-hottest-opus">
    <div class="planning-common-title">
        <span class="common-hint">最热作品</span>
        <div class="common-more button" id="more-opus"></div>
    </div>
    <div class="hottest-opus-content"></div>
</div>
<!--planning dynamic-->
<div class="planning-dynamic">
    <div class="planning-common-title">
        <span class="common-hint">企划动态</span>
    </div>
    <div class="dynamic-content">
        <div class="dynamic-item">
            <img src="./images/planning/trends/1.jpg"/>
            <div class="dynamic-item-author">
                <img src="./images/planning/trends/role-1.png"/>
                <span>道道好厉害</span>
                <span>这是我的任务设定，请大家支持我哟~(*——3)(&——*)<br/>若亚的恋人请收下！！！！！ </span>
            </div>
            <div class="dynamic-item-statistics">
                <div>54513</div>
                <div>6548</div>
            </div>
            <div class="common-reply">
                <textarea class="common-reply-txt" placeholder="您还为登录无法发布评论" disabled="disabled"></textarea>
                <div class="common-reply-btn">
                    <span class="planning-face-btn button"></span>
                    <span class="planning-comments-publish button">发布</span>
                </div>
                <div class="planning-face-container"></div>
            </div>
            <div class="planning-comments">
                <div class="comment-item">
                    <img src="./images/planning/trends/role-2.png"/>
                    <div class="comment-brief"><span>曾看见长安花</span><span>：大大画的好漂亮啊，萌新跪舔~</span></div>
                    <div class="comment-created">2016.6.21 10:51</div>
                    <div class="comment-revert">回复</div>
                </div>
                <div class="comment-item">
                    <img src="./images/planning/trends/role-3.png"/>
                    <div class="comment-brief"><span>好马无好鞍</span><span>：大大画的好漂亮啊，萌新跪舔~</span></div>
                    <div class="comment-created">2016.6.21 10:51</div>
                    <div class="comment-revert">回复</div>
                </div>
                <div class="comment-item">
                    <img src="./images/planning/trends/role-4.png"/>
                    <div class="comment-brief"><span>屁股1号</span><span>：看这里一眼求签名啊！！！！！！！！！！</span></div>
                    <div class="comment-created">2016.6.21 10:51</div>
                    <div class="comment-revert">回复</div>
                </div>
                <div class="comment-more"><span class="comment-more-btn"></span></div>
            </div>
        </div>
        <div class="dynamic-item">
            <img src="./images/planning/trends/2.jpg"/>
            <div class="dynamic-item-author">
                <img src="./images/planning/trends/role-1.png"/>
                <span>道道好厉害</span>
                <span>这是我的任务设定，请大家支持我哟~(*——3)(&——*)<br/>若亚的恋人请收下！！！！！ </span>
            </div>
            <div class="dynamic-item-statistics">
                <div>54513</div>
                <div>6548</div>
            </div>
            <div class="common-reply">
                <textarea class="common-reply-txt" placeholder="您还为登录无法发布评论" disabled="disabled"></textarea>
                <div class="common-reply-btn">
                    <span class="planning-face-btn button"></span>
                    <span class="planning-comments-publish button">发布</span>
                </div>
                <div class="planning-face-container"></div>
            </div>
            <div class="planning-comments">
                <div class="comment-item">
                    <img src="./images/planning/trends/role-2.png"/>
                    <div class="comment-brief"><span>曾看见长安花</span><span>：大大画的好漂亮啊，萌新跪舔~</span></div>
                    <div class="comment-created">2016.6.21 10:51</div>
                    <div class="comment-revert">回复</div>
                </div>
                <div class="comment-item">
                    <img src="./images/planning/trends/role-3.png"/>
                    <div class="comment-brief"><span>好马无好鞍</span><span>：大大画的好漂亮啊，萌新跪舔~</span></div>
                    <div class="comment-created">2016.6.21 10:51</div>
                    <div class="comment-revert">回复</div>
                </div>
                <div class="comment-item">
                    <img src="./images/planning/trends/role-4.png"/>
                    <div class="comment-brief"><span>屁股1号</span><span>：看这里一眼求签名啊！！！！！！！！！！</span></div>
                    <div class="comment-created">2016.6.21 10:51</div>
                    <div class="comment-revert">回复</div>
                </div>
                <div class="comment-more"><span class="comment-more-btn"></span></div>
            </div>
        </div>
    </div>
</div>
