.blogMoreContainer{
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.blog-more-header{
  padding: 88px 20px 0 20px;

  .blog-more-line {
    width: 520px;
    height: 15px;
    border-bottom: 1px solid #c0c0c0;
    float: left;
  }

  .blog-more-title{
    width: 120px;
    float: left;
    font-size: 24px;
    height: 100%;
    color: #333333;
  }
}

.blog-more-item-list{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}