.activity-frame{
  width: 100%;
  top: 64px;
  left: 0;
  border: 0;
  position: absolute;
}

.activity-frame-div{
  width: 100%;
  margin-top: 64px;
  border: 0px;
}

.activity-blog-title{
  margin: 75px 0 60px 0;
  font-size: 48px;
}

.activity-go-Top{
  position: fixed;
  width: 34px;
  height: 98px;
  background: url("../images/common/btnGoTop.png") no-repeat center;
  top: 30%;
  right: calc(50% - 640px);
}
