<div class="blog-item-image"></div>
<div class="blog-item-author">
    <div class="blog-item-author-pic button"></div>
    <div class="blog-item-author-info">
        <div class="blog-item-author-name button"></div>
        <div class="blog-item-author-brief wrapTxt"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="blog-item-statistics">
    <div class="blog-item-msg">
        <div class="blog-item-msg-btn button"></div>
        <div class="blog-item-msg-num"></div>
    </div>
    <div class="blog-item-love">
        <div class="blog-item-love-btn button"></div>
        <div class="blog-item-love-num"></div>
    </div>
</div>
<div class="blog-comment-region"></div>