<div class="commentLogin">您还未登陆无法发布评论</div>
<textarea class="comment-textArea"></textarea>
<div class="comment-btns">
    <div class="btn-face button"></div>
    <div class="btn-commit button">发布</div>
</div>
<div class="comment-face-container"></div>
<div class="comment-list">
    <!--<div class="comment-list-item">-->
        <!--<div class="comment-left-div">-->
            <!--<div class="comment-head-pic"></div>-->
            <!--<div class="comment-floor-txt">第18楼</div>-->
        <!--</div>-->
        <!--<div class="comment-right-div">-->
            <!--<div class="comment-user-name">糯米米米</div>-->
            <!--<div class="comment-time">2016.6.15 4:10</div>-->
            <!--<div class="comment-reply">回复</div>-->
            <!--<div class="clear wrapTxt comment-content">啊实打实的啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯啊实打实的啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿阿斯顿阿斯顿撒旦阿斯顿顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿啊实打实的阿斯顿阿斯顿撒旦阿斯顿阿斯顿阿斯顿撒旦阿斯顿</div>-->
        <!--</div>-->
        <!--<div class="clear"></div>-->
    <!--</div>-->

</div>
<div class="comment-view-more-btn button"></div>