<div class="loginBar-div">
    <div class="loginBar-Logo"></div>
    <div class="loginBar-Btns">
        <div class="loginBar-bnLogin button">登陆</div>
        <div class="loginBar-bnRegister button">注册</div>
    </div>
    <div class="loginBar-UserInfo">
        <div class="loginBar-headPic button"></div>
        <div class="loginBar-username"></div>
        <div class="loginBar-bnPublish button">发布</div>
    </div>
    <div class="loginBar-user-operation">
        <div class="loginBar-setting-common button" id="login-setting">设置</div>
        <div class="loginBar-setting-common button" id="login-out">退出登录</div>
    </div>
</div>

