<div class="login-container" id="register-container">
    <div class="login-title">注册</div>
    <div class="register-content">
        <div class="login-common-div"><label>昵称：</label><input type="text" id="register-nick-txt"/></div>
        <div class="login-common-div"><label>手机号码：</label><input type="text" id="register-account-txt"/></div>
        <div class="login-common-div"><label>密码：</label><input type="password" id="register-password-txt"/></div>
        <div class="login-common-div">
            <label>验证码：</label><input type="text" id="register-verify-txt"/>
            <span id="verify-hint">获取验证码</span>
        </div>
        <div class="login-btn" id="register-btn">完成注册</div>
    </div>
</div>
<div class="login-container-mask x-center" id="register-mask"></div>
