<div class="publishContainer">
    <div class="publishHeadMask"></div>
    <div class="publishMask">
        <div class="publishContent">
            <div class="publishTitle">发布话题</div>
            <div class="publishImagesContent">
                <div class="publishImageEmpty">
                    <div class="publishImageEmptyImage"></div>
                    <div class="publishImageEmptyTxt">最多1次可上传10张</div>
                </div>
                <div class="publishImageList"></div>
            </div>
            <div class="publishTopicContent">
                <textarea class="publishTextArea" placeholder="你有什么想分享的么"></textarea>
                <div class="publish-line"></div>
                <div class="publish-labels"></div>
            </div>
            <div class="publish-btns">
                <div class="btn-face button"></div>
                <div class="bn-publish btn button">发布</div>
                <div class="bn-cancel btn button">取消</div>
            </div>
        </div>
    </div>
</div>