<div class="publishContainer">
    <div class="publishMask"></div>
    <div class="publishContent">
        <div class="publishTitle title">发布话题</div>
        <div class="publishImagesContent">
            <div class="publishImageEmpty">
                <div class="publishImageEmptyImage button">
                    <input class="inputImage ImageEmptyAddBtn" type="file" accept="image/*" multiple />
                </div>
                <div class="publishImageEmptyTxt">最多可上传10张图</div>
            </div>
            <div class="publishImageList">
                <div class="publishImageAddItem button">
                    <input class="inputImage ImageItemAddBtn" type="file" accept="image/*" multiple />
                </div>
            </div>
        </div>
        <div class="publishTopicContent">
            <textarea class="publishTextArea" placeholder="你有什么想分享的么"></textarea>
            <div class="publish-line"></div>
            <div class="publish-labels">
                <div class="publish-label-del button"></div>
            </div>
            <div class="publish-label-info"><input type="text" maxlength="10" class="publish-label-txt" name="publish-label-txt" placeholder='添加标签' />可以用回车添加标签..
</div>
        </div>
        <div class="publish-btns">
            <div class="btn-face button"></div>
            <div class="btn-image-single button"><input class="inputImage ImageSingleAddBtn" type="file" accept="image/*" multiple /></div>
            <div class="bn-publish btn button">发布</div>
            <div class="bn-cancel btn button">取消</div>
        </div>
        <div class="publish-face-container"></div>
    </div>
    <div class="loadingCircle">
        <div class="loading-gif">
            <img src="./images/loading.svg" />
            <span class="loadMsg-text">数据上传...</span>
        </div>
    </div>
</div>
