<div class="publishOpt-container">
    <div class="publishOpt-item">
        <div class="publishOpt-btn button btn-topic"></div>
        <div class="publishOpt-name">发布话题</div>
    </div>
    <div class="publishOpt-item">
        <div class="publishOpt-btn button btn-illustration"></div>
        <div class="publishOpt-name">发布插画</div>
    </div>
    <div class="publishOpt-item">
        <div class="publishOpt-btn button btn-planning"></div>
        <div class="publishOpt-name">发布企划</div>
    </div>
    <div class="publishOpt-item last-item">
        <div class="publishOpt-btn button btn-book"></div>
        <div class="publishOpt-name">发布本子</div>
    </div>
    <div class="clear"></div>
</div>