#associationsLogin{margin-left: 40px;}
#associations_header{padding-top: 75px; width:1200px; overflow: hidden; margin:0 auto;
  #header_data{width:1160px; height: 230px; border:1px solid #c0c0c0; border-radius: 10px; background: #fff8f5;
                margin:55px auto 0 auto; position: relative; font-size: 18px; color:#333333; }
    #header_img{position: absolute; top:-55px; left: 24px; width:260px; height: 260px; border:1px solid #c0c0c0; border-radius: 10px;}
    #header_p{position: absolute; top:-45px; left:304px;
      .sp_name{font-size: 30px; color: #fe5313; line-height: 30px;}
      .sp_authorName{font-size: 18px; color: #333333; margin-left: 17px; line-height: 18px;}
    }
    .header_desc{ float:left;width:340px; height: 230px; padding-top: 39px; margin-left: 304px; text-align: left;}
    .header_main{ float:left; margin-left: 60px; height: 230px;
      .numS{height: 100px;padding-top: 48px; }
      .num{display: inline-block; height: 100px; margin-right: 45px;
        span{display: block; margin-bottom:5px; font-weight: bold; color:#3d3d3d;}
      }
      .btnS{ height: 130px; padding-top: 30px; text-align: left;}
      #btnAdd {cursor:pointer; width:190px; height: 70px; line-height:70px; background: url("../images/associations/icon01.png") no-repeat; font-size: 24px; color:#ffffff; display: inline-block; text-align: center;}
      #btnAdd.btnAdd_ck{width:190px; height: 70px; line-height:70px; background: url("../images/associations/icon03.png") no-repeat center;}
      #btnAttention{ cursor:pointer;width:190px; height: 70px; line-height:70px; background: url("../images/associations/icon02.png") no-repeat; font-size: 24px; color:#ffffff;display: inline-block; text-align: center; margin-left: 30px;}
      #btnAttention.btnAttention_ck{width:190px; height: 70px; line-height:70px;background: url("../images/associations/icon03.png") no-repeat center;}
    }
}
#associations_main{ width:1200px; margin:35px auto 0 auto; overflow: hidden;
  #main_left{width:900px; float:left; min-height: 10px; }
  #main_right { width: 300px; height: 300px; float: left;
    .memberImgItem {width: 57px;  height: 57px;  margin-right: 12px; margin-bottom: 12px; float:left; border-radius:50%; cursor:pointer;}
    #associateMember p, #associateAttention p { font-size: 24px;  color: #3d3d3d;  margin-bottom: 20px; text-align: left; clear:left;}
    #associateMember{overflow: hidden;}
    #associateAttention{margin-top: 42px; overflow: hidden;}
    .noDataDiv{color:#999999; font-size: 20px; text-align: left;}
  }
}