<div class="bd-loginBar-reg"></div>
<div class="bd-container">
    <div class="bd-left">
        <div class="bd-div">
            <div class="bd-image"></div>
            <div class="bd-info">
                <div class="title fontRed"></div>
                <div class="bd-info-txt">
                    <div>作者：</div><div class="fontRed bd-author-txt nowrapTxt"></div>
                    <div>原作：</div><div class="fontRed bd-original-txt nowrapTxt"></div>
                    <div>CP：</div><div class="fontRed bd-cp-txt nowrapTxt"></div>
                    <div>语言：</div><div class="fontRed bd-lang-txt nowrapTxt"></div>
                    <div>页数：</div><div class="fontRed bd-page-txt nowrapTxt"></div>
                    <div>尺寸：</div><div class="fontRed bd-size-txt nowrapTxt"></div>
                    <div>发售日期：</div><div class="fontRed bd-data-txt nowrapTxt"></div>
                </div>
                <div class="dash-line"></div>
                <div class="bd-label-div">
                    <div class="bd-label-title">标签</div>
                    <div class="bd-label-list"></div>
                </div>
                <div class="dash-line"></div>
                <div class="book-brief wrapTxt"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!--作品预览-->
        <div class="bd-book-preview-reg"></div>
        <!--作品留言-->
        <div class="message-title">所有留言</div>
        <div class="bd-book-message-reg">
        </div>
    </div>
    <div class="bd-right">
        <!--作者信息-->
        <div class="bd-author-container">
            <div class="bd-author-headImage"></div>
            <div class="bd-author-name">白白的屁股</div>
            <div class="bd-author-name-tip">本书作者</div>
            <div class="bd-author-works-num">作品：5部</div>
            <div class="bd-author-bn-attend button">关注</div>
            <div class="bd-author-dash-line"></div>
            <div class="bd-author-college-title">所属社团</div>
            <div class="bd-author-college-image"></div>
            <div class="bd-author-college-name">买多文化工作室</div>
        </div>
        <!--热门作品-->
        <div class="bd-book-hot-reg"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="bd-book-footer"></div>