<div class="bd-hot-header">
    <div class="bd-hot-title">热门作品</div>
</div>
<div class="bd-hot-container">
    <div class="hot-book-item">
        <div class="item-image"></div>
        <div class="item-info">
            <div class="item-title nowrapTxt">阿斯顿阿斯顿</div>
            <div class="item-desc wrapTxt">啊实打实的阿斯顿阿斯顿阿斯顿阿斯顿阿斯顿阿斯股股份不v舒服阿斯阿斯顿阿斯顿阿斯股股份不v舒服阿斯阿斯顿阿斯顿阿斯顿阿斯股股份不v舒服阿斯顿阿斯顿顿啊大师</div>
        </div>
    </div>
    <div class="hot-book-item">
        <div class="item-image"></div>
        <div class="item-info">
            <div class="item-title nowrapTxt">阿斯顿阿斯顿</div>
            <div class="item-desc wrapTxt" >啊实打实的阿斯顿阿斯顿阿斯顿阿斯顿阿斯顿阿斯顿阿斯顿啊大师</div>
        </div>
    </div>
    <div class="hot-book-item">
        <div class="item-image"></div>
        <div class="item-info">
            <div class="item-title nowrapTxt">阿斯顿阿斯顿</div>
            <div class="item-desc wrapTxt" >啊实打实的阿斯顿阿斯顿阿斯顿阿斯顿阿斯顿阿斯顿阿斯顿啊大师</div>
        </div>
    </div>
</div>