<div class="bd-loginBar-reg"></div>
<div class="bd-container">
    <div class="bd-left">
        <div class="bd-div">
            <div class="bd-image"></div>
            <div class="bd-info">
                <div class="bd-title fontRed"></div>
                <div class="bd-info-txt">
                    <span class="spanTitle">作者：</span><span class="fontRed bd-author-txt "></span>
                    <span class="spanTitle">原作：</span><span class="fontRed bd-original-txt "></span>
                    <span class="spanTitle">CP：</span><span class="fontRed bd-cp-txt "></span>
                    <span class="spanTitle">语言：</span><span class="fontRed bd-lang-txt "></span>
                    <span class="spanTitle">页数：</span><span class="fontRed bd-page-txt "></span>
                    <span class="spanTitle">尺寸：</span><span class="fontRed bd-size-txt "></span>
                    <span class="spanTitle">发售日期：</span><span class="fontRed bd-data-txt "></span>
                </div>
                <div class="dash-line"></div>
                <div class="bd-label-div">
                    <div class="bd-label-title">标签</div>
                    <div class="bd-label-list"></div>
                </div>
                <div class="dash-line"></div>
                <div class="book-brief wrapTxt"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!--作品预览-->
        <div class="bd-book-preview-reg"></div>
        <!--作品留言-->
        <div class="message-title title">所有留言</div>
        <div class="bd-book-message-reg">
        </div>
    </div>
    <div class="bd-right">
        <!--作者信息-->
        <div class="bd-author-container">
            <div class="bd-author-headImage button"></div>
            <div class="bd-author-name"></div>
            <div class="bd-author-name-tip">本书作者</div>
            <div class="bd-author-works-num">作品：</div>
            <div class="bd-author-bn-attend button">关注</div>
            <div class="bd-author-dash-line"></div>
            <div class="bd-author-college-title">所属社团</div>
            <div class="bd-author-college-image button"></div>
            <div class="bd-author-college-name"></div>
        </div>
        <!--热门作品-->
        <div class="bd-book-hot-reg"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="bd-book-footer-reg"></div>