.bookContainer{
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.book-header{
  text-align: left;
  width: 100%;
  height: 30px;

  .book-title{
    font-size: 24px;
    color: #3d3d3d;
    float: left;
  }
}

.book-container{
  width: 100%;
  height: 248px;
  clear: both;
  margin-top: 20px;

  .book-item{
    width: 160px;
    height: 100%;
    margin-right: 20px;
    float: left;

    .book-pic{
      width: 160px;
      height: 210px;
      border-radius: 8px;
      border: 1px solid silver;
    }

    .book-name{
      width: 160px;
      padding-top: 13px;
      font-size: 18px;
      color: #333333;
    }
  }

  .last-item{
    margin-right: 0 !important;
  }
}