.collegeContainer{
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.college-header{
  text-align: left;
  width: 100%;
  height: 30px;

  .college-title{
    font-size: 24px;
    color: #3d3d3d;
    float: left;
  }
}

.college-container{
  width: 100%;
  height: 248px;
  clear: both;
  margin-top: 20px;

  .college-item{
    width: 80px;
    height: 114px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;

    .college-pic{
      width: 100%;
      height: 80px;
      border-radius: 5px;
      behavior: url(css/PIE.htc);
    }

    .college-name{
      margin-top: 10px;
      width: 100%;
      height: 24px;
      font-size: 18px;
      color: #333333;
    }
  }
}