.linkContainer{
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.link-header{
  width: 100%;
  height: 24px;
  padding: 0 26px;

  .link-line{
    width: 486px;
    height: 12px;
    border-bottom: 1px solid #c0c0c0;
    float: left;
  }

  .link-title{
    width: 136px;
    float: left;
    font-size: 18px;
    height: 100%;
    color: #333333;
  }
}

.link-container{
  width: 100%;

  .link-item{
    display: inline-block;
    margin:40px 0 0 40px;
  }
}