.homeBlogContainer{
  width: 100%;
  height: 100%;
}

.home-blog-header{
  text-align: left;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;

  .home-blog-title{
    font-size: 24px;
    color: #3d3d3d;
    float: left;
  }

  .home-blog-bnMore{
    width: 120px;
    height: 30px;
    background: url("../images/common/more-h.png") no-repeat center;
    float: right;
  }
}

.home-blog-list {
  width: 100%;
  margin-top: 22px;
}