#homeContainer{
  width: 100%;
  height: 100%;
}

.home-banner{
  width: 100%;
  height: 460px;

  .swiper-container{
    width: 100%;
    height: 100%;
  }

  .swiper-pagination{
    position: relative;
    width: 100%;
    bottom: 36px;
    left: 0;

    .swiper-pagination-bullet{
      margin: 0 10px;
      width: 12px;
      height: 12px;
      background: #ffffff;
      opacity: 1;
    }

    .swiper-pagination-bullet-active{
      border: 2px solid #ff4200;
    }
  }
}

.home-head-container{
  width: 100%;
  height: 250px;
  margin-top: 46px;

  .home-qhdc-reg{
    width: 900px;
    height: 100%;
    float: left;
  }

  .home-user-reg{
    width: 300px;
    height: 100%;
    float: left;
  }
}

.home-mid-container{
  width: 100%;
  height: 298px;
  margin-top: 55px;

  .home-book-reg{
    width: 900px;
    height: 100%;
    float: left;
  }

  .home-college-reg{
    width: 300px;
    height: 100%;
    float: left;
  }
}

.home-excellent-book-reg{
  width: 100%;
  margin-top: 50px;
}

.home-link-reg{
  width: 100%;
  margin-top: 80px;
}

.home-footer-reg{
  width: 100%;
  height: 470px;
}