#bookDetailsContainer{
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.bd-container{
  width: 100%;
  height: 100%;
  padding: 64px 20px 0 20px;
  .bd-left{
    width: 880px;
    height: 100%;
    float: left;

    .bd-div{
      width: 100%;
      height: 100%;
      .bd-image{
        width: 282px;
        height: 372px;
        border: 1px solid #cccccc;
        border-radius: 10px;
        margin-top: 16px;
        float: left;
      }
    }

    .bd-info{
      width: 598px;
      height: 100%;
      padding-left: 20px;
      padding-top: 20px;
      float: left;
      font-size: 18px;
      text-align: left;
      color: #3d3d3d;
    }

    .title{
      font-size: 30px;
    }

    .fontRed{
      color: #FF4200;
    }

    .bd-info-txt{
      margin: 30px 0;
      height: 65px;
      div{
        margin-bottom: 10px;
        float: left;

      }

      .bd-author-txt{
        width: 110px;
        margin-right: 10px;
      }

      .bd-original-txt{
        width: 56px;
        margin-right: 10px;
      }

      .bd-cp-txt{
        width: 110px;
        margin-right: 10px;
      }

      .bd-lang-txt{
        width: 68px;
      }

      .bd-page-txt{
        width: 58px;
      }

      .bd-size-txt{
        width: 124px;
        margin-right: 10px;
      }
      .bd-data-txt{
        width: 180px;
      }

    }

    .dash-line{
      border-bottom: 1px dashed #808080;
    }

    .bd-label-div{
      width: 100%;
      height: 70px;
      padding-top: 20px;

      .bd-label-title{
        height: 30px;
        line-height: 30px;
        float: left;
      }

      .bd-label-list{
        color: #ffffff;
        float: left;

        .bd-label-item{
          width: 70px;
          height: 30px;
          line-height: 30px;
          background-color: red;
          border-radius: 20px;
          float: left;
          text-align: center;
          margin-left: 20px;
        }
      }



    }

    .book-brief{
      margin: 30px 0;
      height: 72px;
    }


    .bd-book-preview-reg{
      width: 100%;
    }

  }


  .bd-right{
    width: 280px;
    height: 100%;
    padding-left: 18px;
    float: left;

    //热门作品
    .bd-book-hot-reg{
      width: 100%;
      height: 100%;
    }
  }
}

//作者信息
.bd-author-container{
  position: relative;
  width: 100%;
  height: 602px;
  margin-top: 88px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  background-color: #fff8f5;
  font-size: 18px;

  .bd-author-headImage{
    position: absolute;
    width: 124px;
    height: 124px;
    border-radius: 100%;
    top: -62px;
    left: calc(50% - 62px);
  }

  .bd-author-name{
    margin-top: 82px;
    font-size: 24px;
    color: #3d3d3d;
  }

  .bd-author-name-tip{
    color: #FF4200;
  }

  .bd-author-works-num{
    margin-top: 24px;
  }

  .bd-author-bn-attend{
    width: 200px;
    height: 50px;
    border-radius: 24px;
    background-color: #FF4200;
    color: #ffffff;
    line-height: 50px;
    margin: 40px auto 0 auto;
  }

  .bd-author-dash-line{
    width: calc(100% - 20px);
    margin: 24px 10px 0 10px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.5);
  }

  .bd-author-college-title{
    width: 100%;
    margin-top: 24px;
    color: #808080;
  }

  .bd-author-college-image{
    width: 162px;
    height: 162px;
    margin: 10px auto;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
  }

  .bd-author-college-name{
    width: 100%;
    font-size: 24px;
    color: #3d3d3d;
    margin-top: 10px;
  }
}

.bd-book-footer{
  width: 100%;
  height: 80px;
}

.nowrapTxt {
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  white-space:nowrap;
}

.wrapTxt{
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
}