.previewContainer{
  position: relative;
  width: 1280px;
  margin: 0 auto;
  z-index: 9999;

  .previewMask{
    position: fixed;
    width: 1280px;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.6);
  }
}

