.previewContainer{
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 9999;
  top: 0;

  .previewHeadMask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.6);
  }

    .previewImagePageCount{
      padding-top: 20px;
      padding-bottom: 16px;
      font-size: 18px;
      color: #ffffff;
      height: 64px;
    }

    .previewImagePageCount>span{
      font-size: 24px;
      color: #feba02;
    }

    .previewContent{
      width: 100%;
      height: 100%;
      //padding-top: 80px;
      position: relative;
      overflow-y: auto;

      .previewImage{
        max-width: 750px;
        height: 100%;
        margin: 0 auto;
      }

      .previewLeftBtn{
        width: 100px;
        height: 100%;
        background: url("../images/common/arrow.png") no-repeat center ;
        transform: scaleX(-1);
        -ms-transform: scaleX(-1); 	      /* IE 9 */
        -moz-transform: scaleX(-1);	      /* Firefox */
        -webkit-transform: scaleX(-1);    /* Safari å’Œ Chrome */
        -o-transform: scaleX(-1); 	      /* Opera */
        position: fixed;
        top: 0px;
      }

      .previewRightBtn{
        width: 100px;
        height: 100%;
        background: url("../images/common/arrow.png") no-repeat center;
        position: fixed;
        top: 0px;
      }
    }

    .previewClose{
      position: fixed;
      top: 20px;
      right: 20px;
      width: 64px;
      height: 64px;
      background: url("../images/common/deleteBtn.png") no-repeat center;
    }

    .previewBigBtn{
      position: fixed;
      top: 50px;
      width: 121px;
      height: 31px;
      display: none;
      background: url("../images/common/viewPicBtn.png") no-repeat center;
    }
}

