.bookDetailsHotContainer{
  width: 100%;
  height: 100%;
  padding-top: 45px;
}

.bd-hot-header{
  text-align: left;
  width: 100%;
  height: 30px;

  .bd-hot-title{
    font-size: 24px;
    color: #3d3d3d;
    float: left;
  }
}

.bd-hot-container{
  padding-top: 30px;

  .hot-book-item{
    width: 260px;
    height: 190px;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 20px;

    .item-image{
      width: 130px;
      height: 170px;
      border-radius: 10px;
      float: left;
    }

    .item-info{
      width: 130px;
      height: 170px;
      padding-left: 18px;
      padding-top: 4px;
      float: left;
      text-align: left;

      .item-title{
        font-size: 18px;
        color: #333333;
      }

      .item-desc{
        font-size: 14px;
        color: #3d3d3d;
        margin-top: 10px;
        height: 130px;
      }
    }
  }

  .hot-book-item:last-child{
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
  }
}