<div class="excellent-book-header">
    <div class="excellent-book-title">优秀绘本</div>
    <div class="excellent-book-bnMore"></div>
</div>

<div class="excellent-book-container">
    <div class="excellent_book_left">
        <div class="excellent_book_wide_pic"></div>
        <div class="excellent_book_small_pic_div">
            <div class="excellent_book_small_pic pic_1"></div>
            <div class="excellent_book_small_pic pic_2"></div>
            <div class="excellent_book_small_pic pic_3"></div>
            <div class="excellent_book_small_pic pic_4 last-item"></div>
        </div>
    </div>
    <div class="excellent_book_right">
        <div class="excellent_book_high_pic"></div>
    </div>
</div>