<div class="home-loginBar"></div>
<div class="home-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<div class="home-head-container">
    <div class="home-qhdc-reg"></div>
    <div class="home-user-reg"></div>
</div>

<div class="home-mid-container">
    <div class="home-book-reg"></div>
    <div class="home-college-reg"></div>
</div>

<!-- 优秀绘本 -->
<div class="home-excellent-book-reg"></div>

<!-- 友情链接 -->
<div class="home-link-reg"></div>

<!-- 尾部信息 -->
<div class="home-footer-reg"></div>