.publishContainer{
  position: fixed;
  width: 1280px;
  top: 0px;
  left: calc(50% - 640px);
  z-index: 9999;


  .publishMask {
    position: fixed;
    width: 1280px;
    height: 100%;
    top: 64px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .publishContent {
    position: relative;
    width: 605px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    margin-top: 145px;
  }

  .publishTitle{
    font-size: 24px;
    color: #3d3d3d;
    margin-bottom: 20px;
  }

  .publishImagesContent{
    width: 565px;
    margin: 0 auto;
  }

  .publishImageInput{
    display: none;
  }

  .publishImageEmpty{
    width: 100%;
    height: 295px;
    border-radius: 10px;
    border: 1px dashed #c0c0c0;
    padding-top: 72px;


    .publishImageEmptyImage{
      width: 124px;
      height: 124px;
      margin: 0 auto;
      background: url("../images/publish/emptyAdd.png") no-repeat center;
    }

    .publishImageEmptyTxt{
      width: 100%;
      font-size: 18px;
      color: #808080;
      text-align: center;
      margin-top: 26px;
    }
  }

  .publishImageList{
    height: 230px;

    .publishImageItem, .publishImageAddItem{
      width: 105px;
      height: 105px;
      margin-right: 8px;
      display: inline-block;
    }
    .publishImageItem{
      border: 1px solid #c0c0c0;

      .publishImageItem-del{
        width: 24px;
        height: 24px;
        margin-left: 75px;
        margin-top: 4px;
        background: url("../images/common/deleteBtn.png") no-repeat center;
        background-size: 100%;
      }
    }

    .publishImageAddItem{
      background: url("../images/publish/addMor.png") no-repeat center;
    }
  }

  .publishTopicContent{
    width: 565px;
    height: 228px;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    border: 1px solid #c0c0c0;

    .publishTextArea{
      width: 100%;
      height: 130px;
      padding: 14px 10px;
      font-size: 18px;
      color: #808080;
      border: 0;
      resize: none;
      outline: none;
      background-color: rgba(0,0,0,0);
    }

    .publish-line{
      width: 535px;
      border-bottom: 1px solid #c0c0c0;
      margin: 0 auto;
    }

    .publish-labels{
      position: relative;
      width: 100%;
      height: 30px;
      margin-top: 12px;
      padding-left: 12px;

      .publish-label-txt, span{
        height: 100%;
        border-radius: 20px;
        padding: 0 10px;
        font-size: 18px;
        line-height: 30px;
        border: 1px solid #999999;
        float: left;
      }

      span{
        color: #ffffff;
        margin-right: 20px;
      }

      .publish-label-txt{
        width: 130px;
        height: 100%;
        font-size: 18px;
        color: #808080;
        outline: none;
      }

      .publish-label-del{
        width: 18px;
        height: 18px;
        background: url("../images/common/deleteBtn.png") no-repeat center;
        background-size: 100%;
        border:0;
        right: 14px;
        top: 6px;
        position: absolute;
      }
    }

    .publish-label-info{
      padding-left: 12px;
      margin-top: 17px;
      width: 100%;
      height: 24px;
      font-size: 18px;
      color: #808080;
      text-align: left;
    }
  }

  .publish-btns{
    margin-top: 20px;
    width: 100%;
    height: 40px;

    .btn-face{
      width: 150px;
      height: 40px;
      background: url("../images/common/face.png") no-repeat center;
      float: left;
    }

    .btn-image-single{
      width: 27px;
      height: 100%;
      background: url("../images/publish/btn_add_image_single.png") no-repeat center;
      float: left;
      margin-left: 10px;
    }

    .btn{
      width: 90px;
      height: 40px;
      border-radius: 20px;
      font-size: 18px;
      float: right;
      line-height: 40px;
      text-align: center;
    }

    .bn-cancel{
      background-color: #c0c0c0;
      margin-right: 20px;
    }

    .bn-publish{
      background-color: #fd4200;
    }
  }

  .loadingCircle{
    position: fixed;
    width: 1280px;
    height: 100%;
    top: 0;
    display: none;

    .loading-gif{
      position: relative;
      top: 480px;
    }

    .loading-gif img{
      width: 60px;
      height: 60px;
    }


  }
}