/*文件名称: base.css
*
* 创 建 人: fishYu
* 创建日期: 2016/6/19 20:45
* 描    述: 页面的通用样式
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "微软雅黑";
    text-align: center;
    font-size: 12px;
    color: #333;
    background: #fff;
    overflow-y: scroll;
//    zoom: 0.75;
//    -moz-transform:scale(0.75);
//    -moz-transform-origin:top center;
//    -o-transform:scale(0.75);
//    -o-transform-origin:top center;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:link {
    color: inherit;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button{
    cursor: pointer;
}

.button:active{
    opacity: 0.5;
}

/**
*容器公用类
*/
.container {
    width: 1280px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
//    padding: 0 40px;
}

.common-padding{
    padding: 0 40px;
}


/**
*登录导航公用类
*/
.container nav {
    position: fixed;
    top: 0px;
    /*width: 100%;*/
    width: 1280px;
    height: 64px;
    margin: 0 auto;
    z-index: 999;
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 4px solid rgb(255, 66, 0);
    padding: 0 40px;
    vertical-align: middle;

}

.x-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.y-center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.xy-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    display: inline-block;
    position: absolute;
    width: 220px;
    height: 33px;
}

.login-and-register {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 40px;
    width: 158px;
}

.login-and-register span {
    width: 74px;
    height: 40px;
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 38px;
    border: 1px solid;
    border-radius: 19.5px;
}
.login-and-register span:first-child {
    color: #FF4200;
}

.login-and-register span:last-child {
    margin-left: 10px;
    color: #c0c0c0;
//    background: #1D1715;
}

img {
    draggable: false;
}

.clear{
  clear: both;
}

.title{
    font-weight: bold;
    color: #333333;
}

textarea{
    font-family: "微软雅黑";
}

@import "vendor/swiper";
@import "home/home.scss";
@import "home/qhdc.scss";
@import "home/active_user.scss";
@import "home/book.scss";
@import "home/college.scss";
@import "home/excellent_book.scss";
@import "home/friends_link.scss";
@import "home/footer.scss";
@import "home/home_blog.scss";
@import "common/loginBar.scss";
@import "common/commentView.scss";
@import "common/faceView.scss";
@import "common/blogItemView.scss";
@import "planning/planning.scss";
@import "userCenter/userCenter.scss";
@import "associations/associations.scss";
@import "login/login.scss";

@import "book/bookDetails.scss";
@import "book/bookDetailsPreview.scss";
@import "book/bookDetailsHot.scss";
@import "book/bookPreviewView.scss";

@import "publish/publishOption.scss";
@import "publish/publishView.scss";

@import "blog/blogMoreView.scss";
